@import "../abstracts/_colors.scss";
@import "../abstracts/_variables.scss";
@import "../abstracts/_mixins.scss";
@import "../abstracts/_links.scss";

/* Begin: Breadcrumb Default */
.bread-crumb-default {
    margin-bottom:10px;
    margin-top:10px;
    /*background-color: $c-white;*/

    // Arrow
    .arrow {
        border: solid $c-grey-3;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
    }

    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    // Image
    img {
        width: 15px;
        height: 15px;
    }
    // Span
    span {
        margin: 0px 7px 0px 7px;
    }
    // Link
    a {
        text-decoration: none;
        color: $c-black-1;
    }

    a:hover {
        text-decoration: none;
        color: $c-blue-default;
    }
}
/* End: Breadcrumb Default */

/* Begin: Breadcrumb II */
.bread-crumb-ii {
    margin-top:4px;
    margin-left:10px;
    font-size:14px;
    // Arrow
    .arrow {
        border: solid $c-grey-3;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
    }

    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    // Image
    img {
        width: 15px;
        height: 15px;
    }
    // Span
    span {
        margin: 0px 7px 0px 7px;
    }
    // Link
    a {
        text-decoration: none;
        color: $c-black-1;
    }

    a:hover {
        text-decoration: none;
        color: $c-blue-default;
    }
}
/* End: Breadcrumb II */