@import "../../../base/_containers.scss";
@import "../../../base/_grids.scss";
@import "../../../base/_common.scss";
@import "../../../components/menu/_top-link-menu.scss";
@import "../../../components/menu/_top-main-menu.scss";
@import "../../../components/menu/_mobile-category-drill-down-menu.scss";
@import "../../../components/menu/_mobile-drawer.scss";
@import "../../../components/menu/_footer-mobile-menu.scss";
@import "../../../components/menu/_top-mobile-menu.scss";
@import "../../../components/menu/_top-menu-supplier.scss";
@import "../../../components/menu/_admin-menu.scss";
@import "../../../components/_bread-crumbs.scss";
@import "../../../components/_cards.scss";
@import "../../../base/_helpers.scss";
@import "../../../base/_buttons.scss";
@import "../../../components/menu/_search-bar.scss";
@import "../../../components/tables/_table-user.scss";
@import "../../../components/tables/_table-user-details.scss";
@import "../../../components/tables/_table-product.scss";
@import "../../../components/widgets/widget-dashboard.scss";

/* External Links */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    background-color: $c-body-bg-1;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

/* Begin: Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $c-grey-5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #818181;
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #707070;
}
/* End: Custom Scrollbar */