/* Color Generator Website */
/* https://mdigi.tools/color-shades/#007bff */
/* Body */
/* Grey */
/* White */
/* Black */
/* Blue */
/* Green */
/* Red */
/* Yellow */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif; /* Apply Arial font */
}

/* Default background color is grey */
body {
  background-color: #F2F3F5;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  /* Change background color to white for mobile devices */
  body {
    background-color: white;
  }
}
.auth-box {
  width: 400px;
  padding: 30px;
  background-color: white;
  /* Set margin to "auto" for horizontal and vertical centering */
  margin: 10px;
}

.auth-box .form-label {
  color: #000000 !important;
}

.auth-box .header {
  text-align: center !important;
}

.auth-box .logo {
  width: 150px;
}

.auth-box .heading {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.auth-box .account-text {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

.auth-box .signup-link {
  color: #014FE5;
  text-decoration: none;
}

.auth-box .button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.auth-box .action-button {
  width: 40px;
  height: 40px;
  margin: 0 8px; /* Gap of 16px */
  border: none;
  cursor: pointer;
}

.auth-box .or-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

.auth-box .or-line {
  width: 100%;
  height: 1px;
  background-color: #DADADA; /* Grey color for line */
}

.auth-box .or-text {
  padding: 0 10px;
  color: #979797; /* Grey color for text */
}

.auth-box .forgot-password-link {
  color: #014FE5;
  text-decoration: none;
  float: right;
  font-size: 12px !important;
  font-weight: bold;
}

.auth-box .form-control {
  border-radius: 3px !important;
  border-color: #D0D5DD !important;
}

.auth-box .form-label {
  color: #344054 !important;
  font-size: 16px !important;
}

.auth-box button {
  background-color: #014FE5 !important;
  border-radius: 3px !important;
}

/* OTP */
.otp-verification {
  margin-top: 20px;
  text-align: center;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.otp-input {
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
