@import "../abstracts/_colors.scss";

.container-white-d-flex {
    max-width: 1350px;
    display:flex;
    justify-content:space-between;
    margin: auto;
    background: white;
}

.container-transparent {
    max-width: 1350px;
    margin: auto;
}

.container-admin {
    background: white;
    padding:0px 5px 5px 5px;
}